<h1>Manage Customers</h1>

<div id="search-customers">
    <h2>Search for a customer</h2>
    <form id="search-customer-form" method="GET" action="/customers">
        <fieldset>
            <label for="search-customer-name">
                Enter customer name: 
                <input type="text" name="search-customer-name" id="search-customer-name">
            </label>
        </fieldset>
        <input type="submit">
        <a href="/customers">
            <button>Reset</button>
        </a>
    </form>
</div>

<div id="list-customers">
    <h2>Customers</h2>
    <table id="customer-list-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Address}}</td>
                <td>{{this.City}}</td>
                <td>{{this.State}}</td>
                <td>{{this.Zipcode}}</td>
                <td>{{this.Email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="add-customer">
    <h2>Add Customer</h2>
    <form id="add-customer-form" method="POST" action="/add-customer">
        <fieldset>
            <label for="customer-name">Name
                <input type="text" name="customer-name" id="add-customer-name" maxlength="100" required>
            </label>
            <br>
            <label for="customer-address">Address
                <input type="text" name="customer-address" id="add-customer-address" maxlength="100" required>
            </label>
            <br>
            <label for="customer-city">City
                <input type="text" name="customer-city" id="add-customer-city" maxlength="100" required>
            </label>
            <br>
            <label for="customer-state">State
                <input type="text" name="customer-state" id="add-customer-state" maxlength="25" required>
            </label>
            <br>
            <label for="customer-zip">ZIP Code
                <input type="number" name="customer-zip" id="add-customer-zip" minlength="5" maxlength="5" required>
            </label>
            <br>
            <label for="customer-email">Email
                <input type="email" name="customer-email" id="add-customer-email" maxlength="100">
            </label>
        </fieldset>
        <input type="submit">
    </form>
</div>