<h1>Manage Sales</h1>

<div id="list-sales">
    <h2>Sales</h2>
    <table id="sale-list-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Customer}}</td>
                <td>{{this.Crop}}</td>
                <td>{{this.Quantity}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.ShippingStatus}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>