{{!-- This file is adapted from the NodeJS Starter App code --}}
<h1>Manage Sales</h1>

<div id="list-sales">
    <h2>Sales</h2>
    <table id="sale-list-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Customer}}</td>
                <td>{{this.Crop}}</td>
                <td>{{this.Quantity}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.ShippingStatus}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="add-sale">
    <h2>Add Sale</h2>
    <form id="add-sale-form" method="POST" action="/add-sale">
        <fieldset>
            <label for="customer-name">Customer Name
                <select name="customer-name" id="customer-name">
                    <option value="">Select a Customer</option>
                    {{#each customers}}
                    <option value="{{this.customer_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
            <br>
            <label for="crop-name">Crop Name
                <select name="crop-name" id="crop-name">
                    <option value="">Select a Crop</option>
                    {{#each crops}}
                    <option value="{{this.crop_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
            <br>
            <label for="sale-quantity">Sale Quantity
                <input type="number" name="sale-quantity" id="sale-quantity" required>
            </label>
            <br>
            <label for="sale-price">Sale Price
                <input type="number" name="sale-price" id="sale-price" required>
            </label>
            <br>
            <label for="sale-date">Sale Date
                <input type="date" name="sale-date" id="sale-date" required>
            </label>
            <br>
            <label for="shipping-status">Shipping Status
                <select name="shipping-status" id="shipping-status" required>
                    <option value="1">Shipped</option>
                    <option selected="selected" value="0">Not Shipped</option>
                </select>
            </label>
        </fieldset>
        <button type="submit" value="submit">Add Sale</button>
    </form>
</div>

<div id="delete-sale">
    <h2>Delete Sale</h2>
    <form id="delete-sale-form">
        <fieldset>
            <label for="selected-sale">Select a sale to delete
                <select name="selected-sale" id="sale-to-delete">
                    {{#each data}}
                    <option value="{{this.ID}}">{{this.ID}}: {{this.Customer}}</option>
                    {{/each}}
                </select>
            </label>
            </fieldset>
        <button type="submit" value="submit">Delete Sale</button>
    </form>
</div>

<script src="./js/delete-sale.js"></script>