{{!-- This file is adapted from the NodeJS Starter App code --}}
<h1>Manage Seeds</h1>

<div id="list-seeds">
    <h2>Seeds</h2>
    <table id="seed-list-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.GrowthDays}}</td>
                <td>{{this.CanItRegrow}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="add-seed">
    <h2>Add Seed</h2>
    <form id="add-seed-form" method="POST" action="/add-seed-form">
        <fieldset>
            <label for="seed-name">Name
                <input type="text" name="seed-name" id="seed-name" required>
            </label>
            <label for="seed-price">Price
                <input type="number" name="seed-price" id="seed-price" required>
            </label>
            <label for="growth-days">Days to Grow
                <input type="number" name="growth-days" id="growth-days" required>
            </label>
            <label for="can-regrow">Can it Regrow?
                <select name="can-regrow" id="can-regrow" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
            <label for="related-crop">Related Crop
                <select name="related-crop" id="related-crop">
                    {{#each crops}}
                    <option value="{{this.crop_id}}">{{this.name}}</option>
                    {{/each}}
                    <option value="-999">none</option>
                </select>
            </label>
        </fieldset>
        <button type="submit" value="submit">Add Seed</button>
    </form>
</div>

<div id="update-seed">
    <h2>Update Seed</h2>
    <form id="update-seed-form">
        <fieldset>
            <label for="selected-seed">Select a seed to update
                <select name="selected-seed" id="seed-to-update">
                    {{#each data}}
                    <option value="{{this.ID}}">{{this.ID}}: {{this.Name}}</option>
                    {{/each}}
                </select>
            </label>
            <br>
            <label for="seed-name">Name
                <input type="text" name="seed-name" id="updated-seed-name" required>
            </label>
            <br>
            <label for="seed-price">Price
                <input type="number" name="seed-price" id="updated-seed-price" min="0" max="9999" required>
            </label>
            <br>
            <label for="seed-growth-days">Days to Grow
                <input type="number" name="seed-growth-days" id="updated-seed-growth-days" min="0" max="100" required>
            </label>
            <br>
            <label for="seed-can-regrow">Can it Regrow?
                <select name="seed-can-regrow" id="updated-seed-can-regrow" required>
                    <option value="1">Yes</option>
                    <option selected="selected" value="0">No</option>
                </select>
            </label>
            <br>
            <label for="related-crop">Related Crop
                <select name="related-crop" id="updated-related-crop">
                    <option value="-999">None</option>
                    {{#each crops}}
                    <option value="{{this.crop_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
        </fieldset>
        <button type="submit" value="submit">Update Seed</button>
    </form>
</div>

<div id="delete-seed">
    <h2>Delete Seed</h2>
    <form id="delete-seed-form">
        <fieldset>
            <label for="selected-seed">Select a seed to delete
                <select name="selected-seed" id="seed-to-delete">
                    {{#each data}}
                    <option value="{{this.ID}}">{{this.ID}}: {{this.Name}}</option>
                    {{/each}}
                </select>
            </label>
            </fieldset>
        <button type="submit" value="submit">Delete Seed</button>
    </form>
</div>

<script src="./js/update_seed.js"></script>
<script src="./js/delete_seed.js"></script>